// Replaces wp-block-post-template styles to use grid
.wp-block-post-template,
.wp-block-query-loop {
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 100%;
	padding: 0;

	li {
		border: 1px solid rgba(0,0,0,0.2);
		border-radius: .125rem;

		.wp-block-post-excerpt__excerpt {}

		> *,
		> section > * {
			margin: var(--least-tile-items-gap);
		}

		> section {
			margin: 0;
		}

		figure {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			overflow: hidden;
			margin: 0;
		}
	}

	&.is-flex-container {
		display: -ms-grid;
		display: -moz-grid;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--wp--style--block-gap);

		li {
			margin: 0;
			width: 100%;
		}
	}
}

.wp-block-query-pagination {
	div.wp-block-query-pagination-numbers {
		margin-right: auto;
		margin-bottom: 0;
		display: flex;
	}

	> a {
		font-size: 0;
		display: block;

		&.wp-block-query-pagination-previous {
			margin: 0;
		}
		span {
			font-size: var(--wp--preset--font-size--normal);

			&.wp-block-query-pagination-previous-arrow,
			&.wp-block-query-pagination-next-arrow {
				margin: 0;
			}
		}
	}

	> a,
	.page-numbers {
		height: calc( var(--wp--preset--font-size--normal) * 2 );
		line-height: calc( var(--wp--preset--font-size--normal) * 2 );
		display: inline-block;
		text-align: center;
		border: 1px solid;
		border-radius: .125rem;
		text-decoration: none;
		width: calc( var(--wp--preset--font-size--normal) * 2 );
	}

	.page-numbers.current {
		background: rgba(0, 0, 0, 0.1);
	}

	.page-numbers + .page-numbers {
		margin-left: var(--wp--style--block-gap);
	}
}
@media #{$breakpoint-medium} {
	.wp-block-post-template,
	.wp-block-query-loop {
		&.is-flex-container {
			@for $col from 3 through 6 {
				&.columns-#{$col} {
					grid-template-columns: repeat(#{round($col/2)}, 1fr);
				}
			}
		}
	}
}

@media #{$breakpoint-large} {
	.wp-block-post-template,
	.wp-block-query-loop {
		&.is-flex-container {
			@for $col from 2 through 6 {
				&.columns-#{$col} {
					grid-template-columns: repeat(#{$col}, 1fr);
				}
			}
		}
	}
}