// Replaces wp-block-post-template styles to use grid
.wp-block-post-template,
.wp-block-query-loop {
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 100%;
	padding: 0;

	li {
		box-shadow: $box-shadow-1;
		border-radius: inherit;

		.wp-block-post-excerpt__excerpt {}

		> *,
		> section > * {
			margin: var(--least-tile-items-gap);
		}

		> section {
			margin: 0;
		}

		figure {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			overflow: hidden;
			margin: 0;
		}
	}

	&.is-flex-container {
		display: -ms-grid;
		display: -moz-grid;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--wp--style--block-gap);

		li {
			margin: 0;
			width: 100%;
		}
	}
}

@media #{$breakpoint-medium} {
	.wp-block-post-template,
	.wp-block-query-loop {
		&.is-flex-container {
			@for $col from 3 through 6 {
				&.columns-#{$col} {
					grid-template-columns: repeat(#{round($col/2)}, 1fr);
				}
			}
		}
	}
}

@media #{$breakpoint-large} {
	.wp-block-post-template,
	.wp-block-query-loop {
		&.is-flex-container {
			@for $col from 2 through 6 {
				&.columns-#{$col} {
					grid-template-columns: repeat(#{$col}, 1fr);
				}
			}
		}
	}
}